---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
const events = (await getCollection("event")).sort(
    (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
console.log(events);
---

<MainLayout title="Eventos">
    <section class="eventos">
        <h1 class="eventos__title">Eventos</h1>
        <div class="eventos__content">
            {
                events.map((event) => (
                    <div class="eventos__item">
                        <h2 class="eventos__item__title">{event.data.title}</h2>
                        <img
                            class="eventos__item__image"
                            src={event.data.heroImage}
                            alt={event.data.title}
                        />
                        <p class="eventos__item__date">
                            {event.data.startDate.toLocaleDateString()} -{" "}
                            {event.data.endDate.toLocaleDateString()}
                        </p>
                    </div>
                ))
            }
        </div>
    </section>
</MainLayout>

<style>
    .eventos {
        padding: 2rem;
        color: var(--foreground);
    }

    .eventos__title {
        color: var(--foreground);
    }

    .eventos__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
</style>
