---
import { getCollection } from "astro:content";
import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths({ paginate }) {
    const events = (await getCollection("event"))
        .filter((event) => new Date(event.data.startDate) < new Date())
        .sort(
            (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
        );

    return paginate(events, {
        pageSize: 8,
    });
}
import EventItem from "../../../components/EventItem.astro";
import Pagination from "../../../components/Pagination.astro";
const { page } = Astro.props;
---

<MainLayout title="Eventos pasados - Eventos Manga">
    <section class="eventos">
        <h1 class="eventos__title">Eventos pasados - Página {page.currentPage}</h1>
        <div class="eventos__content">
            <ul class="eventos__list">
                {
                    page.data.map((event) => (
                        <li class="eventos__list__item">
                            <EventItem event={event} />
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>
    <Pagination
        length={page.lastPage}
        currentPage={page.currentPage}
        firstUrl={page.url.first}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        lastUrl={page.url.last}
    />
</MainLayout>

<style>
    .eventos {
        padding: 3rem;
        color: var(--foreground);
        display: flex;
        flex-direction: column;

        @media (width <= 640px) {
            padding: 1.25rem;
            align-items: center;
            justify-content: center;
        }
    }

    .eventos__title {
        color: var(--foreground);
        font-size: 2.25rem;
    }

    .eventos__content {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media (width <= 640px) {
            width: 100%;
        }
    }

    .eventos__list {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, minmax(20rem, 1fr));
        gap: 1.5rem;
        width: 100%;

        @media (width <= 1600px) {
            grid-template-columns: repeat(3, minmax(20rem, 1fr));
        }

        @media (width <= 1150px) {
            grid-template-columns: repeat(2, minmax(20rem, 1fr));
        }

        @media (width <= 790px) {
            grid-template-columns: repeat(1, minmax(20rem, 1fr));
        }
    }
</style>
