---
import { Image } from "astro:assets";
const { event } = Astro.props;
---

<a href={`/eventosmanga/evento/${event.slug}/`}>
    <article class="event__item">
        <div class="event__item__cover__container">
            <Image
                class="event__item__image"
                src={event.data.heroImage}
                alt={event.data.title}
                loading="lazy"
                transition:name={`${event.slug}-cover`}
                width="640"
                height="200"
            />
        </div>
        <h2 class="event__item__title">{event.data.title}</h2>
        <div class="event__item__footer">
            <p class="event__item__location">
                <Image
                    class="event__item__location__icon"
                    src="/eventosmanga/icons/location.svg"
                    alt="Location icon"
                    width="24"
                    height="24"
                />
                {event.data.province}
            </p>
            <p class="event__item__date">
                <Image
                    class="event__item__date__icon"
                    src="/eventosmanga/icons/calendar.svg"
                    alt="Calendar icon"
                    width="24"
                    height="24"
                />
                {event.data.startDate.toLocaleDateString()} -{" "}
                {event.data.endDate.toLocaleDateString()}
            </p>
        </div>
    </article>
</a>

<style>
    a {
        text-decoration: none;
        color: var(--foreground);
    }

    .event__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .event__item__title {
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--foreground);
    }

    .event__item__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
    }

    .event__item__cover__container {
        border-radius: 0.5rem;
        overflow: hidden;
        width: 100%;
    }

    .event__item__image {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
        background-color: var(--foreground);
        border-radius: 0.5rem;

        &:hover {
            filter: brightness(1.2);
            transform: scale(1.1);
        }
    }

    .event__item__location {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        margin: 0;
    }

    .event__item__location__icon {
        width: 1rem;
        height: 1rem;
        filter: invert(1);
        border-radius: 0;
    }

    .event__item__date {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        margin: 0;
        color: var(--foreground-light);
    }

    .event__item__date__icon {
        width: 1rem;
        height: 1rem;
        filter: invert(1);
        border-radius: 0;
    }
</style>
